doctype html
html(lang="ru")
  head
    include head
    +head()
  body
    #wrap
      nav.navbar.navbar-inverse(role="navigation")
        include nav
        +navheader()
        #nav-collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            +navdefaultlinks("/account/channels")
          +navloginlogout("/account/channels")
      section#mainpage
        .container
          if !loggedIn
            .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
              .alert.alert-danger.messagebox.center
                strong Требуется авторизация
                p Вы должны выполнить <a href="/login">вход</a> для просмотра этой страницы.
          else
            .col-lg-6.col-md-6
              h3 Мои каналы
              if deleteChannelError
                .alert.alert-danger.center.messagebox
                  strong Ошибка удаления канала
                  p= deleteChannelError
              if channels.length == 0
                .center
                  strong Вы еще не зарегистрировали ни одного канала
              else
                table.table.table-bordered
                  thead
                    tr
                      th Канал
                  tbody
                    for c in channels
                      tr
                        th
                          form.form-inline.pull-right(action="/account/channels", method="post", onsubmit="return confirm('Вы уверены что хотите удалить канал " +c.name+ "? Он будет потерян безвозвратно.');")
                            input(type="hidden", name="_csrf", value=csrfToken)
                            input(type="hidden", name="action", value="delete_channel")
                            input(type="hidden", name="name", value=c.name)
                            button.btn.btn-xs.btn-danger(type="submit") Удалить
                              span.glyphicon.glyphicon-trash
                          a(href="/r/"+c.name, style="margin-left: 5px")= c.name
            .col-lg-6.col-md-6
              h3 Регистрация нового канала
              if newChannelError
                .alert.alert-danger.messagebox.center
                  strong Ошибка регистрации канала
                  p= newChannelError
              form(action="/account/channels", method="post")
                input(type="hidden", name="_csrf", value=csrfToken)
                input(type="hidden", name="action", value="new_channel")
                .form-group
                  label.control-label(for="channelname") Введите имя канала
                  input#channelname.form-control(type="text", name="name")
                button.btn.btn-primary.btn-block(type="submit") Зарегистрировать

    include footer
    +footer()
