doctype html
html(lang="ru")
  head
    include head
    +head()
    link(href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css", rel="stylesheet")
    link(rel="stylesheet", href="/css/video-js.css")
  body
    #wrap
      nav.navbar.navbar-inverse(role="navigation")
        include nav
        +navheader()
        #nav-collapsible.collapse.navbar-collapse
          - var cname = "/r/" + channelName
          ul.nav.navbar-nav
            +navdefaultlinks(cname)
            li: a(href="javascript:void(0)", onclick="javascript:showUserOptions()") Настройки
            li: a#showchansettings(href="javascript:void(0)", onclick="javascript:showChannelSettings()") Канал
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown") Разметка
                b.caret
              ul.dropdown-menu
                li: a(href="#" onclick="javascript:chatOnly()") Только чат
                li: a(href="#" onclick="javascript:removeVideo(event)") Убрать видео
            +navsuperadmin(true)
          +navloginlogout(cname)
      section#mainpage
        .container
          #motdrow.row
            .col-lg-12.col-md-12
              #motdwrap.well
                button#togglemotd.close.pull-right(type="button")
                  span.glyphicon.glyphicon-minus
                #motd
                .clear
          #announcements.row
          #drinkbarwrap.row
            #drinkbar.col-lg-12.col-md-12
              h1#drinkcount
          #main.row
            #chatwrap.split.split-horizontal
              #chatheader
                i#userlisttoggle.glyphicon.glyphicon-chevron-down.pull-left.pointer(title="Показать/Скрыть список юзеров")
                span#usercount.pointer Не подключён
                span#modflair.label.label-default.pull-right.pointer Цвет ника
              #userlist
              #messagebuffer.linewrap
              input#chatline.form-control(type="text", maxlength="240", style="display: none")
              #guestlogin.input-group
                span.input-group-addon Войти как гость:
                input#guestname.form-control(type="text", placeholder="Ваш ник")
            #videowrap.split.split-horizontal
              p#currenttitle Ничего не играет
              .embed-responsive.embed-responsive-16by9
                #ytapiplayer.embed-responsive-item
            .clear
          #controlsrow.row
            #leftcontrols.col-lg-5.col-md-5
              button#newpollbtn.btn.btn-sm.btn-default Создать опрос
              button#changebgbtn.btn.btn-sm.btn-default Изменить фон
              button#smilesbtn.btn.btn-sm.btn-default Смайлы
            #rightcontrols.col-lg-7.col-md-7
              #plcontrol.btn-group
                button#showsearch.btn.btn-sm.btn-default(title="Найти видео", data-toggle="collapse", data-target="#searchcontrol")
                  span.glyphicon.glyphicon-search
                button#showmediaurl.btn.btn-sm.btn-default(title="Добавить видео по ссылке", data-toggle="collapse", data-target="#addfromurl")
                  span.glyphicon.glyphicon-plus
                button#showcustomembed.btn.btn-sm.btn-default(title="Добавить iframe", data-toggle="collapse", data-target="#customembed")
                  span.glyphicon.glyphicon-th-large
                button#showplaylistmanager.btn.btn-sm.btn-default(title="Менеджер плейлистов", data-toggle="collapse", data-target="#playlistmanager")
                  span.glyphicon.glyphicon-list
                button#clearplaylist.btn.btn-sm.btn-default(title="Очистить плейлист")
                  span.glyphicon.glyphicon-trash
                button#shuffleplaylist.btn.btn-sm.btn-default(title="Перемешать плейлист")
                  span.glyphicon.glyphicon-sort
                button#qlockbtn.btn.btn-sm.btn-danger(title="Плейлист заблокирован")
                  span.glyphicon.glyphicon-lock
              #videocontrols.btn-group.pull-right
                button#extendplayer.btn.btn-sm.btn-default(title="Расширить плеер")
                  span.glyphicon.glyphicon-sound-stereo
                button#togglesynch.btn.btn-sm.btn-default(title="Переключить синхронизацию видео")
                  span.glyphicon.glyphicon-play
                button#mediarefresh.btn.btn-sm.btn-default(title="Обновить плеер")
                  span.glyphicon.glyphicon-retweet
                button#fullscreenbtn.btn.btn-sm.btn-default(title="Полноэкранный режим видео")
                  span.glyphicon.glyphicon-fullscreen
                button#getplaylist.btn.btn-sm.btn-default(title="Получить ссылки на видео из плейлиста")
                  span.glyphicon.glyphicon-link
                button#voteskip.btn.btn-sm.btn-default(title="Голосовать за пропуск")
                  span.glyphicon.glyphicon-step-forward

          #playlistrow.row
            #leftpane.col-lg-5.col-md-5
              #leftpane-inner.row
                #smileswrap.col-lg-12.col-md-12
                #pollwrap.col-lg-12.col-md-12
                #playlistmanagerwrap.col-lg-12.col-md-12
            #rightpane.col-lg-7.col-md-7
              #rightpane-inner.row
                #searchcontrol.collapse.plcontrol-collapse.col-lg-12.col-md-12
                  .vertical-spacer
                  .input-group
                    input#library_query.form-control(type="text", placeholder="Что ищем?")
                    span.input-group-btn
                      button#library_search.btn.btn-default Library
                    span.input-group-btn
                      button#youtube_search.btn.btn-default YouTube
                  .checkbox
                    label
                      input.add-temp(type="checkbox")
                      | Добавить как временный
                  ul#library.videolist.col-lg-12.col-md-12
                #addfromurl.collapse.plcontrol-collapse.col-lg-12.col-md-12
                  .vertical-spacer
                  .input-group
                    span.input-group-btn
                      button#insert_template.btn.btn-default &gt;
                    input#mediaurl.form-control(type="text", placeholder="Ссылка на видео")
                    span.input-group-btn
                      button#queue_next.btn.btn-default След.
                    span.input-group-btn
                      button#queue_end.btn.btn-default В конец
                  .checkbox
                    label
                      input.add-temp(type="checkbox")
                      | Добавить как временный
                  div#addfromurl-queue
                #customembed.collapse.plcontrol-collapse.col-lg-12.col-md-12
                  .vertical-spacer
                  .input-group
                    input#customembed-title.form-control(type="text", placeholder="Заголовок (необязательно)")
                    span.input-group-btn
                      button#ce_queue_next.btn.btn-default След.
                    span.input-group-btn
                      button#ce_queue_end.btn.btn-default В конец
                  .checkbox
                    label
                      input.add-temp(type="checkbox")
                      | Добавить как временный
                  | Вставьте код видео в поле ниже и нажмите &quot;След.&quot; или &quot;В конец&quot;.
                  | Можно добавить видео с тегами <code>&lt;iframe&gt;</code> или <code>&lt;object&gt;</code>.  <strong>СИНХРОНИЗАЦИЯ БУДЕТ НЕДОСТУПНА.</strong>
                  textarea#customembed-content.input-block-level.form-control(rows="3")
                #playlistmanager.collapse.plcontrol-collapse.col-lg-12.col-md-12
                  .vertical-spacer
                  .input-group
                    input#userpl_name.form-control(type="text", placeholder="Название плейлиста")
                    span.input-group-btn
                      button#userpl_save.btn.btn-default Сохранить
                  .checkbox
                    label
                      input.add-temp(type="checkbox")
                      | Добавить как временный
                  ul#userpl_list.videolist
                #queuefail.col-lg-12.col-md-12
                  .vertical-spacer
                .col-lg-12.col-md-12
                  ul#queue.videolist
                  #plmeta
                    span#plcount 0 видео
                    span#pllength 00:00:00
          #resizewrap.row
            .col-lg-5.col-md-5
            #videowidth.col-lg-7.col-md-7
          #sitefooter
            include pagefooter
    #useroptions.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss="modal", aria-hidden="true") &times;
            h4 Пользовательские настройки
            ul.nav.nav-tabs
              li: a(href="#us-general", data-toggle="tab") Основные
              li: a(href="#us-playback", data-toggle="tab") Воспроизведение
              li: a(href="#us-chat", data-toggle="tab") Чат
              li: a(href="#us-scriptcontrol", data-toggle="tab") Скрипты
              li: a(href="#us-mod", data-toggle="tab", style="") Модератор
          .modal-body
            .tab-content
              include useroptions
              +us-general()
              +us-playback()
              +us-chat()
              +us-scripts()
              +us-mod()
          .modal-footer
            button.btn.btn-primary(type="button", data-dismiss="modal", onclick="javascript:saveUserOptions()") Сохранить
            button.btn.btn-default(type="button", data-dismiss="modal") Закрыть
    #channeloptions.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss="modal", aria-hidden="true") &times;
            h4 Настройки канала
            ul.nav.nav-tabs
              li.active: a(href="#cs-miscoptions", data-toggle="tab") Основные
              li: a(href="#cs-adminoptions", data-toggle="tab") Админ-панель
              li.dropdown
                a#cs-edit-dd-toggle(href="#", data-toggle="dropdown") Изменить...
                  span.caret
                ul.dropdown-menu
                  li: a(href="#cs-chatfilters", data-toggle="tab", onclick="javascript:socket.emit('requestChatFilters')") Чат-фильтры
                  li: a(href="#cs-emotes", data-toggle="tab") Смайлы
                  li: a(href="#cs-motdeditor", data-toggle="tab", tabindex="-1") MOTD
                  li: a(href="#cs-csseditor", data-toggle="tab", tabindex="-1") CSS
                  li: a(href="#cs-jseditor", data-toggle="tab", tabindex="-1") Javascript
                  li: a(href="#cs-permedit", data-toggle="tab", tabindex="-1") Разрешения
                  li: a(href="#cs-chanranks", data-toggle="tab", tabindex="-1", onclick="javascript:socket.emit('requestChannelRanks')") Модераторы
              li: a(href="#cs-banlist", data-toggle="tab", tabindex="-1", onclick="javascript:socket.emit('requestBanlist')") Список банов
              li: a(href="#cs-chanlog", data-toggle="tab", onclick="javascript:socket.emit('readChanLog')") Лог
          .modal-body
            .tab-content
              include channeloptions
              +miscoptions()
              +adminoptions()
              +motdeditor()
              +csseditor()
              +jseditor()
              +banlist()
              +recentjoins()
              +chanranks()
              +chatfilters()
              +emotes()
              +chanlog()
              +permeditor()
          .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") Закрыть
    #pmbar
    include footer
    +footer()
    script(id="socketio-js", src=sioSource)
    script(src="/js/data.js")
    script(src="/js/util.js")
    script(src="/js/player.js?1")
    script(src="/js/paginator.js")
    script(src="/js/ui.js")
    script(src="/js/callbacks.js")
    script(defer, src="https://www.youtube.com/iframe_api")
    script(defer, src="https://api.dmcdn.net/all.js")
    script(defer, src="/js/sc.js")
    script(defer, src="/js/froogaloop.min.js")
    script(defer, src="/js/video.js")
    script(defer, src="/js/videojs-contrib-hls.min.js")
    script(src="/js/split.min.js")
    script(src="/js/jaba.js")
    script(defer, src="https://player.twitch.tv/js/embed/v1.js")
