doctype html
html(lang="ru")
  head
    include head
    +head()
    link(href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css", rel="stylesheet")
  body
    #wrap
      nav.navbar.navbar-inverse(role="navigation")
        include nav
        +navheader()
        #nav-collapsible.collapse.navbar-collapse
          - var cname = "/chat/" + channelName
          ul.nav.navbar-nav
            +navdefaultlinks(cname)
            li: a(href="javascript:void(0)", onclick="javascript:showUserOptions()") Настройки
            li: a#showchansettings(href="javascript:void(0)", onclick="javascript:showChannelSettings()") Канал
            +navsuperadmin(true)
          +navloginlogout(cname)
      section#mainpage
        .container
          #motdrow.row
            .col-lg-12.col-md-12
              #motdwrap.well
                button#togglemotd.close.pull-right(type="button")
                  span.glyphicon.glyphicon-minus
                #motd
                .clear
          #announcements.row
          #drinkbarwrap.row
            #drinkbar.col-lg-12.col-md-12
              h1#drinkcount
          #main.row
            #chatwrap.col-lg-12.col-md-12
              #chatheader
                i#userlisttoggle.glyphicon.glyphicon-chevron-down.pull-left.pointer(title="Скрыть/Показать список пользователей")
                span#usercount.pointer Не подключен
                span#modflair.label.label-default.pull-right.pointer Цвет ника
              #userlist
              #messagebuffer.linewrap
              input#chatline.form-control(type="text", maxlength="240", style="display: none")
              #guestlogin.input-group
                span.input-group-addon Войти как гость
                input#guestname.form-control(type="text", placeholder="Ваш ник")
          #controlsrow.row
            #leftcontrols.col-lg-5.col-md-5
              button#newpollbtn.btn.btn-sm.btn-default Создать опрос

          #resizewrap.row
            .col-lg-5.col-md-5
            #videowidth.col-lg-7.col-md-7
          #sitefooter
            include pagefooter
    #pmbar
    include footer
    +footer()
    script(id="socketio-js", src=sioSource)
    script(src="/js/data.js")
    script(src="/js/chat.js")
    script(src="/js/jaba.js")
