doctype html
html(lang="ru")
  head
    include head
    +head()
  body
    #wrap
      nav.navbar.navbar-inverse(role="navigation")
        include nav
        +navheader()
        #nav-collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            +navdefaultlinks(path)
          +navloginlogout(path)

      section#mainpage.container
        .col-md-12
          .alert.alert-danger
            h1 Недействительная сессия
            p Ваш браузер попытался отправить данные формы в <code>#{path}</code> с недействительным токеном аутентификации. Возможные причины этого:
              ul
                li Сессия авторизации истекла
                li Ваш запрос не имел токена аутентификации
                li Злоумышленники пытались подделать вашу сессию
                li Ваш браузер не поддерживает куки, или они отключены
              | Если проблема сохраняется, обратитесь к администратору.
            if referer
              a(href=referer) Вернуться на предыдущую страницу

    include footer
    +footer()
