doctype html
html(lang="ru")
  head
    include head
    +head()
  body
    #wrap
      nav.navbar.navbar-inverse(role="navigation")
        include nav
        +navheader()
        #nav-collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            +navdefaultlinks("/")
            +navsuperadmin(false)
          +navloginlogout("/")
      section#mainpage
        .container
          .col-lg-9.col-md-9
            h3 Публичные каналы
            table.table.table-bordered.table-striped
              thead
                th Канал
                th Кол-во зрителей
                th Сейчас играет
              tbody
                each chan in channels
                  tr
                    td: a(href="/r/"+chan.name) #{chan.pagetitle} (#{chan.name})
                    td= chan.usercount
                    td= chan.mediatitle
          .col-lg-3.col-md-3
            h3 Быстрый переход
            input#channelname.form-control(type="text", placeholder="Имя канала")
            p.text-muted Новые каналы могут быть зарегистрированы на странице <a href="/account/channels">Мои каналы</a>.
    include footer
    +footer()
    script(type="text/javascript").
      $("#channelname").keydown(function (ev) {
        if (ev.keyCode === 13) {
          location.href = "/r/" + $("#channelname").val();
        }
      });
