doctype html
html(lang="ru")
  head
    include head
    +head()
  body
    #wrap
      nav.navbar.navbar-inverse(role="navigation")
        include nav
        +navheader()
        #nav-collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            +navdefaultlinks("/logout")
          +navloginform("/")
      section#mainpage.container
        .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
          .alert.alert-info.center.messagebox
            strong Вы успешно вышли
            p
              if redirect
                a(href=redirect) Вернуться на предыдущую страницу
    include footer
    +footer()
