doctype html
html(lang="ru")
  head
    include head
    +head()
  body
    #wrap
      nav.navbar.navbar-inverse(role="navigation")
        include nav
        +navheader()
        #nav-collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            +navdefaultlinks("/register")
          if loggedIn
            +navlogoutform("/register")
      section#mainpage.container
        if loggedIn
          .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
            .alert.alert-danger.messagebox.center
              strong Регистрация не требуется
              p.
                Вы уже вошли в аккаунт. Если вы желаете зарегистрировать другой, сначала совершите <a href="/logout?redirect=/register">выход</a> из текущего.
              // TODO Link to My Account page
        else if !registered
          .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
            if registerError
              .alert.alert-danger.messagebox.center
                strong Ошибка регистрации
                p= registerError
            h2 Register
            form(role="form", action="/register", method="post", onsubmit="return verify()")
              input(type="hidden", name="_csrf", value=csrfToken)
              .form-group
                label.control-label(for="username") Логин
                input#username.form-control(type="text", name="name")
              .form-group
                label.control-label(for="password") Пароль
                input#password.form-control(type="password", name="password", onkeyup="checkPasswords()")
              .form-group
                label.control-label(for="password_confirm") Подтвердите пароль
                input#password_confirm.form-control(type="password", onkeyup="checkPasswords()")
              .form-group
                label.control-label(for="email") Email (опционально)
                input#email.form-control(type="email", name="email")
                p Указание адреса электронной почты не является обязательным и позволит вам восстановить аккаунт, если вы забудете пароль. Ваш адрес не будет никому показываться.
              button#registerbtn.btn.btn-success.btn-block(type="submit") Зарегистрироваться
        else
          .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
            .alert.alert-success.messagebox.center
              strong Регистрация успешно завершена
              p Спасибо за регистрацию, #{registerName}! Теперь вы можете <a href="/login">войти</a> для использования вашего аккаунта.
    include footer
    +footer() 
    script(src="/js/jquery.js")
    script(type="text/javascript").
      function verify() {
        var valid = checkUsername();
        valid = checkPasswords() && valid;
        return valid;
      }
      function checkUsername() {
        var name = $("#username").val();
        $("#usernameerror").remove();
        if (name === "") {
          $("#username").parent().addClass("has-error");
          $("<p/>").addClass("text-danger")
            .attr("id", "usernameerror")
            .text("Логин не может быть пустым")
            .insertAfter($("#username"));
          return false;
        } else if (!(/^[-\w\u00c0-\u00ff]{1,20}$/).test(name)) {
          $("#username").parent().addClass("has-error");
          $("<p/>").addClass("text-danger")
            .attr("id", "usernameerror")
            .text("Логин должен состоять из 1-20 символов и использовать лишь a-Z, A-Z, 0-9 " +
                  ", -, или _.")
            .insertAfter($("#username"));
          return false;
        } else {
          $("#username").parent().removeClass("has-error")
            .addClass("has-success");
        }
      }
      function checkPasswords() {
        var pw = $("#password").val();
        var pwc = $("#password_confirm").val();
        $("#passwordempty").remove();
        $("#passwordmismatch").remove();
        if (pw === "") {
          $("#password").parent().addClass("has-error");
          $("<p/>").addClass("text-danger")
            .attr("id", "passwordempty")
            .text("Пароль не может быть пустым")
            .insertAfter($("#password"));
          return false;
        } else {
          $("#password").parent().removeClass("has-error")
            .addClass("has-success");
          if (pw !== pwc) {
            $("#password_confirm").parent().addClass("has-error");
            $("<p/>").addClass("text-danger")
              .attr("id", "passwordmismatch")
              .text("Пароли не совпадают")
              .insertAfter($("#password_confirm"));
            return false;
          } else {
            $("#password_confirm").parent().removeClass("has-error")
              .addClass("has-success");
          }
        }
      }
