doctype html
html(lang="en")
  head
    include head
    +head()
  body
    #wrap
      nav.navbar.navbar-inverse(role="navigation")
        include nav
        +navheader()
        #nav-collapsible.collapse.navbar-collapse
          ul.nav.navbar-nav
            +navdefaultlinks("/useragreement")
          +navloginlogout("/useragreement")
      section#mainpage
        .container
          .col-md-12
            h1 User Agreement
            p.
              By visiting #{siteTitle} (#{domain}), you agree to the following user agreement.
            h3 Legal Stuff
            ul
              li All content and activity this website must comply with United States law, and where applicable, local laws.  Prohibited content and activities include, but are not limited to:
                ul
                  li Child pornography
                  li Warez
                  li Copyright infringement
                  li Blackmail, slander, or other defamatory statements
                  li Phishing
              li Content on #{siteTitle} is provided "as-is".  #{siteTitle} makes no warranties, express or implied, and hereby disclaims and negates all other warranties, including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.  Furthermore, #{siteTitle} does not make any representations concerning the accuracy or reliability of content present on #{siteTitle}.
              li #{siteTitle} permits users to share links, embedded content, or other content insofar as the shared content complies with this user agreement, United States law, and where applicable, local laws.  #{siteTitle} is not responsible for the content shared, or any consequences of sharing such content.  #{siteTitle} does not endorse any user-provided content.  Viewing shared content is done at the user's own risk.
          h3 General Rules
          p.
            While moderation is largely left to the discretion of channel moderators and administrators, the following rules apply globally and must be observed at all times on the site.  Failure to comply with these rules may result in temporary or permanent removal of your user account from the website.
          ul
            li Trolling, spamming, or otherwise intentionally disrupting any channel is not allowed
            li Bullying or otherwise intending to hurt other users is not allowed
            li Attempting to exploit the site in order to gain unauthorized access or interrupt service is not allowed.  If you believe you have found an exploit, please responsibly disclose it to an administrator.
            li Use good judgement when representing #{siteTitle} on other websites.  Do not spam links to your channel.
    include footer
    +footer()
